/* Estilos generales para el cuerpo y la estructura de la página */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 249, 250);
}

/* Estilos para el header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(222, 222, 221);
    height: 60px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(52, 58, 64);
    border-bottom: 1px solid rgb(52, 58, 64);
    ;
}

.spacer {
    display: block;
    width: 230px;
    height: 40px;
    margin-left: 10px;
}

/* Estilos para el footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(222, 222, 221);
    height: 60px;
    padding: 0;
    text-align: center;
    color: rgb(52, 58, 64);
    box-sizing: border-box;
    border-top: 1px solid rgb(52, 58, 64);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    width: 100px;
}

h2 {
    text-align: center;
    font-size: calc(1.375rem + 1vw)
}

/* Estilos para el título dentro del header */
h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-bottom: 4px;
    font-size: calc(1.375rem + 1.75vw)
}

/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 0;
}

/* Estilos para la barra lateral */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgb(52, 58, 64);
    color: white;
    height: calc(100% - 120px);
    overflow-y: auto;
    box-sizing: border-box;
}

/* Estilos para los submenús colapsables dentro de la barra lateral */
.sidebar .collapse {
    margin-left: -10px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para los márgenes de los elementos con clase 'ms-3' */
.ms-3 {
    margin-left: 0 !important;
}

/* Estilos para los elementos de la lista dentro de la barra lateral */
.sidebar .list-group-item {
    background-color: rgb(52, 58, 64);
    color: white;
    border: none;
    white-space: nowrap;
    padding-left: 10px;
}

/* Efectos de hover para los elementos de la lista */
.sidebar .list-group-item:hover {
    background-color: rgb(73, 80, 87) !important;
}

/* Estilos para los submenús expandidos dentro de la barra lateral */
.sidebar .collapse.show {
    padding-left: 20px;
}

/* Estilos para el botón del sidebar */
#sidebarToggleBtn {
    margin-left: 10px;
    display: none;
    background-color: rgb(0, 75, 128);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efectos de hover para el botón del sidebar */
#sidebarToggleBtn:hover {
    background-color: #0056b3;
}

/* Estilos para quitar el outline cuando el botón recibe el foco */
#sidebarToggleBtn:focus {
    outline: none;
}

/* Estilos para el contenido principal */
.content {
    flex: 1;
    padding: 20px;
    margin-left: 0;
    background-color: #f8f9fa;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px
}

/* Estilos cuando la sidebar está desplazada */
.content.sidebar-shifted {
    margin-left: 130px;
}

/* Estilos cuando el submenú de activos está abierto */
.content.sidebar-open-activos {
    margin-left: 140px;
}

/* Estilos cuando el submenú de mantenimiento está abierto */
.content.sidebar-open-mantenimiento {
    margin-left: 230px;
}

/* Estilos para el formulario */
.formularios {
    background-color: rgb(222, 222, 221);
    border: 1px solid rgb(105, 103, 102);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    margin: 0 auto;
}

/* Estilos para el título dentro del formulario */
.formularios h1 {
    color: rgb(0, 75, 128);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.formularios label {
    color: rgb(0, 75, 128);
    font-weight: bold;
}

.formularios .form-control {
    border: 1px solid rgb(105, 103, 102);
    padding: 20px;
    border-radius: 4px;
}

.formularios .form-control:focus {
    border-color: rgb(201, 225, 95);
    box-shadow: 0 0 0 0.2rem rgba(201, 225, 95, 0.25);
}

.formularios .btn-primary {
    background-color: rgb(201, 225, 95);
    color: rgb(0, 75, 128);
    border: none;
    transition: background-color 0.3s ease;
}

.formularios .btn-primary:hover {
    background-color: rgb(88, 134, 39);
}

.formularios .mb-3 {
    margin-bottom: 15px;
}

/* Estilos para pantallas grandes */
@media (min-width: 951px) {

    .sidebar {
        visibility: visible;
    }

    .content {
        margin-left: 230px !important;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 950px) {

    .spacer {
        display: none;
    }

    h1 {
        font-size: calc(1.375rem + 1vw) !important;
    }

    .logo {
        width: 80px;
    }

    #sidebarToggleBtn {
        display: block;
    }

    .sidebar.sidebar-visible {
        background-color: rgb(52, 58, 64);
    }

    .content {
        margin-right: 0px
    }
}